
.navbar {
    background-color: #000000;
    padding: 10px;
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-button {
    margin-left: 15px;
    padding: 8px 16px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
  
  